.full-page-controls {
  button {
    display: none;
  }
}

.header-background {
  position: fixed;
  height: 8.3em;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  transition: background-color 0.2s ease-in-out;
}

.homepage-section {
  .homepage-section-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.homepage-section-blackText {
    p,
    h1,
    h2,
    h3,
    h4 {
      color: #2e394b;
    }
    .homepage-section-caption {
      color: #2e394b;
    }
  }
  height: 100vh;
  a {
    text-decoration: none;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5em;
    font-weight: 500;
    margin: 0.294117em -4px 0.441177em -4px;
    line-height: 1.32353em;
  }
  p {
    font-family: "Roboto", sans-serif;
  }
  .homepage-section-caption {
    font-family: "Roboto", sans-serif;
    margin: 0 0 0.5em 0;
    color: #ffd778;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.882353em;
  }
  &.homepage-section-padding {
    padding: 12em 6vw 10em 6vw;
  }

  /* BigBackground ------------------------------- */

  .homepage-section-BigBackground-layers {
    position: relative;
    background-color: #2e394b;
    .section-BigBackground-image-overlay {
      position: absolute;
      top: 0;
      padding: 40vh 6vw 3em 6vw;
      height: 100vh;
      width: 100%;
      background-color: rgba(46, 57, 75, 0.65);

      .section-BigBackground-text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
  .section-BigBackground-video {
    object-fit: cover;
    // remove scrollbar
    width: calc(100vw - 0.375em);
    height: 100vh;
  }

  /* OneBlock ------------------------------- */
  &.homepage-section-OneBlock {
    .section-OneBlock-text-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      p {
        width: 45%;
      }
    }
  }
  /* SepareBlocks ------------------------------- */
  &.homepage-section-SepareBlocks {
    .section-SepareBlocks-text-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .section-SepareBlocks-text-block {
        p {
          &:first-child::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #ffd778;
          }
        }
        strong {
          font-family: "Montserrat", sans-serif;
          font-size: 2.3em;
          font-weight: 600;
          margin: 0.294117em -4px 0.441177em -4px;
          line-height: 1.32353em;
        }
      }
    }
    .section-SepareBlocks-blocks-1 {
      width: 100%;
    }
    .section-SepareBlocks-blocks-2 {
      width: 45%;
    }
    .section-SepareBlocks-blocks-3 {
      width: 30%;
    }
  }
  /* Collaborators ------------------------------- */
  &.homepage-section-Collaborators {
    .section-Collaborators-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;

      .section-Collaborators-collaborator {
        width: 20%;
        margin: auto 1em;
        img {
          width: 100%;
          max-height: 4em;
        }
      }
    }
  }
  /* News ------------------------------- */
  &.homepage-section-News {
    p {
      margin: 0;
    }
    article {
      &:first-child {
        border-top: 1px solid #2e394b;
      }
    }
    .homepage-section-News-single {
      border-bottom: 1px solid #2e394b;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 4em 0;
      position: relative;
      h3 {
        font-family: "Montserrat", sans-serif;
        flex-shrink: 0;
        width: 40%;
        margin: 0 1.5em 0 0;
        font-size: 1.647059em;
        line-height: 1.357142em;
        display: flex;
        align-items: center;
        height: auto;
      }
      p {
        max-width: 60%;
        margin: 0 4.5em 0 0;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &::after {
        content: "\2192";
        font-family: icons;
        font-size: 3em;
        color: #2e394b;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  /* WhyNotYou ------------------------------- */
  &.homepage-section-WhyNotYou {
    p {
      margin: 0;
    }
    .homepage-section-caption {
      border-bottom: 1px solid #ffd778;
      padding: 0 0 0.5em 0;
    }
    .homepage-section-WhyNotYou-single {
      border-bottom: 1px solid #ffd778;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 4em 0;
      position: relative;
      h3 {
        font-family: "Montserrat", sans-serif;
        flex-shrink: 0;
        width: 40%;
        margin: 0 1.5em 0 0;
        font-size: 1.647059em;
        line-height: 1.357142em;
        display: flex;
        align-items: center;
        height: auto;
      }
      p {
        max-width: 60%;
        margin: 0 4.5em 0 0;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      &::after {
        content: "\2192";
        font-family: icons;
        font-size: 3em;
        color: #ffd778;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .homepage-section.homepage-section-padding {
    padding: 12em 6vw 3em 6vw !important;
  }
}

@media screen and (max-width: 769px) {
  .homepage-section {
    h2 {
      font-family: "Montserrat", sans-serif;
      font-size: 2em;
    }
  }
  /* OneBlock ------------------------------- */

  &.homepage-section-OneBlock {
    .section-OneBlock-text-content {
      flex-direction: column;
      p {
        width: 100% !important;
      }
    }
  }
  /* Collaborators ------------------------------- */

  &.homepage-section-Collaborators {
    .section-Collaborators-container {
      .section-Collaborators-collaborator {
        width: 40% !important;
      }
    }
  }
  /* SepareBlocks ------------------------------- */

  &.homepage-section-SepareBlocks {
    .section-SepareBlocks-text-content {
      display: flex;
      flex-direction: column !important;
      justify-content: flex-start;
      .section-SepareBlocks-text-block {
        strong {
          font-size: 1.3em !important;
        }
      }
      .section-SepareBlocks-blocks-1,
      .section-SepareBlocks-blocks-2,
      .section-SepareBlocks-blocks-3 {
        width: 100% !important;
      }
    }
  }
  /* News ------------------------------- */
  &.homepage-section-News {
    .homepage-section-News-single {
      flex-direction: column !important;

      h3 {
        width: 100% !important;

        margin: 0 0 10px 0 !important;
        font-size: 1.3em !important;
        height: auto;
      }
      p {
        max-width: 100% !important;
        margin: 0 0 0 0 !important;
        display: -webkit-box;
        -webkit-line-clamp: 3 !important;
      }
      &::after {
        top: 90% !important;
      }
    }
  }
  /* News ------------------------------- */
  &.homepage-section-WhyNotYou {
    .homepage-section-WhyNotYou-single {
      flex-direction: column !important;

      h3 {
        width: 100% !important;
        margin: 0 0 10px 0 !important;
        font-size: 1.3em !important;
      }
      p {
        max-width: 100% !important;
        margin: 0 0 0 0 !important;
        -webkit-line-clamp: 3 !important;
      }
      &::after {
        top: 90% !important;
      }
    }
  }
}
