.inView-line {
  height: 1px;
  margin: 0.411765em 0.070589em 0;
  background-color: #ff695a;
  transition: width 2s;
  margin-bottom: 26px;
}
.inView-line-yellow {
  height: 1px;
  margin: 0.411765em 0.070589em 0;
  background-color: #ffd778;
  transition: width 2s;
  margin-bottom: 26px;
}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4vw;

  .slider-presentation {
    width: 100%;
    margin-right: 2em;
    .slider-title {
      font-family: "Montserrat", sans-serif;
      font-size: 2.3em;
      font-weight: 600;
      margin: 0.294117em -4px 0.441177em -4px;
      line-height: 1.32353em;
    }
  }
  .slider-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    img {
      max-height: 40vh;
      max-width: 250px;
    }
    .slider-image-current-noShow {
      opacity: 0;
    }
    .slider-image-wrapper {
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
      }
      .slider-image-current {
        z-index: 1;
      }
      .slider-image-before,
      .slider-image-after {
        max-height: 22vh;
        top: -10px;
        filter: opacity(50%) brightness(2);
        cursor: pointer;
      }
      .slider-image-before:hover,
      .slider-image-after:hover {
        filter: opacity(90%) brightness(4);
        transition: filter 1s ease-in-out, left 1s ease-in-out;
      }

      .slider-image-before {
        left: -20px;
        &:hover {
          left: -30px;
        }
      }
      .slider-image-after {
        left: 20px;
        &:hover {
          left: 30px;
        }
      }
    }
  }
  .slider-left-arrow,
  .slider-right-arrow {
    position: absolute;
    top: 95%;
    border: solid #ffffff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }
  .slider-right-arrow {
    right: 32px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .slider-left-arrow {
    left: 32px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .slider-contact-btn {
    //position: absolute;
    //top: 102%;
    border: solid #ffffff 1px;
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    background-color: rgb(46, 57, 75);
    //padding: 18px 4em;
    padding: 18px 0;
    cursor: pointer;
    line-height: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    transition: color 0.7s ease-in-out;
    :first-child {
      margin: auto;
      text-align: center;
    }
    &:hover {
      background-color: #fff;
      color: rgb(46, 57, 75);
    }
    &.slider-contact-btn-smallscreen {
      display: none;
    }
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    display: flex;
    flex-direction: row;
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}

@media screen and (max-width: 1025px) {
  .slider {
    .slider-right-arrow {
      position: absolute;
      top: 100%;
      border: solid #ffffff;
      border-width: 0 3px 3px 0;
      padding: 1em;
    }
    .slider-left-arrow {
      display: none;
    }
  }
}

@media screen and (max-height: 800px) {
  .slider {
    .slider-left-arrow,
    .slider-right-arrow {
      top: 110%;
    }
  }
}

@media screen and (max-width: 769px) {
  .slider {
    height: fit-content;
    .slider-image {
      margin-bottom: 1em;
      img {
        max-height: 40vh;
        width: 200px;
      }
    }
    .slider-presentation {
      margin-right: 0;
    }
    .slider-left-arrow,
    .slider-right-arrow {
      position: absolute;
      top: 8%;
      border: solid #ffffff;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 1em;
      cursor: pointer;
      user-select: none;
    }
    .slider-left-arrow {
      left: -10px;
    }
    .slider-right-arrow {
      right: -10px;
    }

    .slider-contact-btn {
      width: 200px;
      :first-child {
        margin: auto;
      }
      &.slider-contact-btn-smallscreen {
        display: block;
      }
      &.slider-contact-btn-largescreen {
        display: none;
      }
    }

    .slide {
      flex-direction: column-reverse;
    }
  }
}

/* Loading*/
.loading-gif {
  height: 100vh;
  // remove scrollbar
  width: calc(100vw - 0.375em);
  display: flex;
  justify-content: center;
  align-items: center;
}
