@import "./Styles/_resetCss.scss";
@import "./Styles/_footer.scss";
@import "./Styles/_header.scss";
@import "./Styles/_homepage-section.scss";
@import "./Styles/_small-components.scss";

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

footer {
  clear: both;
  position: relative;
}
